/* ==== COMMON ===== */

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-elipse {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon {
  fill: #f4f4fd;
}

.icon-item {
  width: 40px;
  height: 40px;
}

/* ==== / COMMON ==== */

/* ==== HEADER ==== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  display: block;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.accent {
  color: #2e2f42;
}

.menu {
  display: none;
}

.contacts {
  display: none;
}

.burger-btn {
  fill: #2f2f37;
  background-color: transparent;
  border: none;
}

/* ==== MOBILE MENU ==== */
@media screen and (max-width: 767px) {
  .mobile-menu-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    background-color: #fff;
    transform: translateX(100%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu-wrapper.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .mobile-close-btn {
    position: absolute;
    top: 24px;
    right: 8px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #e7e9fc;
    fill: #2e2f42;
  }

  .mobile-nav-item {
    padding-bottom: 40px;
    color: #2e2f42;
  }

  .mobile-nav-item:first-child {
    color: #404bbf;
  }

  .mobile-nav-item:last-child {
    padding-bottom: 84px;
  }

  .mobile-nav-link {
    color: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
  }

  .mobile-contacts-item {
    color: #2e2f42;
    padding-bottom: 24px;
  }

  .mobile-contacts-item:first-child {
    color: #4d5ae5;
    padding-top: 84px;
  }

  .mobile-contacts-item:last-child {
    padding-bottom: 40px;
  }

  .mobile-contacts-link {
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .mobile-menu-icon-container {
    display: flex;
    justify-content: space-between;
  }
}
/* ==== / MOBILE MENU ==== */

@media screen and (min-width: 768px) {
  .mobile-menu-wrapper {
    display: none;
  }
  .burger-btn {
    display: none;
  }

  .header-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  .logo {
    align-self: center;
  }

  .page-menu {
    display: flex;
    gap: 120px;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-studio {
    position: relative;
    color: #404bbf;
  }

  .link-studio::after {
    position: absolute;
    bottom: -1px;

    content: '';
    display: block;
    background-color: #404bbf;
    width: 48px;
    height: 4px;
    border-radius: 2px;
  }

  .contacts {
    display: block;
    font-style: normal;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .page-menu {
    gap: 76px;
  }

  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
  }

  .menu-link:hover,
  .menu-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

/* ==== / HEADER ==== */

/* ==== HERO ==== */

.hero-page {
  max-width: 320px;
  padding-top: 72px;
  padding-bottom: 72px;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/cover/cover-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: #fff;
}

.hero-title {
  max-width: 169px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.btn-order {
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MOBILE 2x */
@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .hero-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cover/cover-mob@2x.jpg);
  }
}

/* TABLET */
@media screen and (min-width: 768px) {
  .hero-page {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cover/cover-tablet.jpg);
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }
}

/* TABLET 2x */
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .hero-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cover/cover-tablet@2x.jpg);
  }
}

/* DESCTOP */
@media screen and (min-width: 1158px) {
  .hero-page {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cover/cover-desk.jpg);
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .btn-order:hover,
  .btn-order:focus {
    background-color: #404bbf;
  }
}

/* DESCTOP 2x */
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .hero-page {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/cover/cover-desk@2x.jpg);
  }
}

/* ==== / HERO ==== */

/* ==== features ==== */
.features-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.features-icon-container {
  display: none;
}

.features-list-item .subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
}

.features-list-item .text {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* column-gap: 24; */
    justify-content: space-between;
  }

  .features-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .features-list-item .subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }

  .features-list-item .subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-list-item .text {
    font-weight: 400;
  }
}

/* ==== / features ==== */

/* ==== team ==== */
.team {
  background-color: #f4f4fd;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-left: 12px;
  padding-right: 12px;
}

.team-card {
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-dscr {
  padding: 32px 16px;
}

.team-dscr .subtitle {
  text-align: center;
}

.team-dscr .text {
  text-align: center;
  margin-bottom: 8px;
}

.team-icon-container {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .team-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    flex-wrap: nowrap;
    padding-left: 0;
    padding-right: 0;
  }

  .team-card {
    flex-basis: calc((100% - 72px) / 3);
  }

  .team-card:hover .icon-elipse,
  .team-card:focus .icon-elipse,
  .icon-elipse:focus {
    background-color: #404bbf;
  }
}

/* ==== / team ==== */

/* ==== PORTFOLIO ==== */

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-card {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-dscr {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-dscr .subtitle {
  text-align: left;
}

.overlay {
  display: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
  }

  .portfolio-img-box {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);

    display: block;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-card:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .portfolio-card:hover .overlay {
    transform: translateY(0);
  }
}
/* ==== / PORTFOLIO ==== */

/* ==== footer ==== */
.footer {
  background-color: #2e2f42;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  gap: 72px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-dscr .logo {
  margin-bottom: 18px;
  text-align: center;
}

.footer-dscr .accent {
  color: #f4f4fd;
}

.footer-dscr .text {
  font-weight: 400;
  color: #f4f4fd;
}

.footer-title {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

/* ==== FOOTER FORM ==== */

.footer-form-title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.footer-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.footer-form-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  opacity: 0.3;
}

.footer-form-input::placeholder {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.6;
}

.footer-btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn .icon {
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .footer-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }

  .footer-dscr {
    max-width: 264px;
  }

  .footer-dscr .logo {
    text-align: left;
  }

  .footer-title {
    text-align: left;
  }

  .footer-form-title {
    text-align: left;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-form-input {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15px;
    column-gap: 80px;
    align-items: baseline;
  }

  .footer-dscr {
    margin-right: 40px;
  }

  .footer-icon-container .icon-elipse:hover,
  .footer-icon-container .icon-elipse:focus {
    background-color: #31d0aa;
  }

  .footer-form {
    gap: 24px;
  }

  .footer-form-input {
    opacity: 1;
  }

  .footer-form-input::placeholder {
    opacity: 1;
  }

  .footer-btn:hover,
  .footer-btn:focus {
    background-color: #404bbf;
  }
}
/* ==== / footer ==== */

/* ==== MODAL ==== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 288px;
  min-height: 584px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}

.modal .text {
  font-weight: 500;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-field-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.form-input-wrapper {
  position: relative;
}

.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-wrapper {
  margin-bottom: 16px;
}

.modal-form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;

  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-wrapper {
  margin-bottom: 24px;
}

.check-label {
  display: flex;
  align-items: center;

  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.custom-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  flex-shrink: 0;

  border-radius: 2px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
}

.custom-check-icon {
  fill: #f4f4fd;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-label > .custom-check {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.check-input:focus + .check-label > .custom-check {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.check-input:checked + .check-label .custom-check-icon {
  opacity: 1;
}

.check-link {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link:hover,
.check-link:focus {
  color: #404bbf;
}

.send-btn {
  display: inline-block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-radius: 4px;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #404bbf;
}
